doctype html
html
	head
		title Demo Visualization
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(href='/stylesheets/jquery.dataTables.css', rel='stylesheet')
		script(src='javascripts/lib/dc/d3.js' type='text/javascript')
		script(src='javascripts/lib/dc/crossfilter.js' type='text/javascript')
		script(src='javascripts/lib/dc/dc.js' type='text/javascript')
		script(src='javascripts/lib/dc/colorbrewer.js' type='text/javascript')
		script(src='javascripts/lib/jquery/jquery-1.9.1.min.js', type='text/javascript')
		script(src='javascripts/lib/bootstrap/bootstrap.min.js', type='text/javascript')
		#script(src='javascripts/lib/react/JSXTransformer.js', type='text/javascript')
		#script(src='javascripts/lib/react/react.js', type='text/javascript')
		#script(src='javascripts/lib/react/react-bootstrap.js', type='text/javascript')
		script(src='javascripts/lib/keen/keen.js' type='text/javascript')
		script(src='javascripts/lib/keen/meta.js' type='text/javascript')
		link(href='/stylesheets/bootstrap.min.css', rel='stylesheet', type='text/css')
		link(href='/stylesheets/dc.css', rel='stylesheet', type='text/css')
		link(href='/stylesheets/style.css', rel='stylesheet', type='text/css')
		link(href='/stylesheets/keen-dashboards.css', rel='stylesheet', type='text/css')
	body
		block content
